.main {
  height: 100vh;
  width: 100vw;
  /* background-image: url(./screen-2.jpg); */
}
.logIn {
  position: relative;
  top: 20vh;
  width: 80vw;
  left: 50%;
  transform: translate(-50%);
}
.logIn input {
  margin-top: 5vh;
  display: block;
}
